
  
  .card {
    margin: 15px; /* Espaciado externo uniforme alrededor de la tarjeta */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añadir sombra para resaltar las tarjetas */
    border-radius: 10px; /* Bordes redondeados */
  }

#teacherss{
    width: 500px;
    height: 900px;
}

#button{
    position: relative !important;
    bottom: 10px !important;
}