<%- include("partials/header"); -%>

<%- include("partials/navbar"); -%>

<div class="area">
    <h1>MATH</h1>
     
    <div class="cosas">
        
        <div class="icon-box">
            <a href="material.html#">
            <img src="./images/matr.png"/>
            <p>Material</p>
        </a>
        </div>
        
        
        <div class="icon-box">
            <a href="quizes.html#">
            <img src="./images/exam.png"/>
            <p>Quizzes</p>
        </a>
        </div>
        
    </div>
</div>
<hr/>
<div class="area">
    <h1>GRAMMAR</h1>
     
    <div class="cosas">
        
        <div class="icon-box">
            <a href="material.html#">
            <img src="./images/matr.png"/>
            <p>Material</p>
        </a>
        </div>
        
        
        <div class="icon-box">
            <a href="quizes.html#">
            <img src="./images/exam.png"/>
            <p>Quizzes</p>
        </a>
        </div>
        
    </div>
</div>
<hr/>
<div class="area">
    <h1>SCIENCE</h1>
     
    <div class="cosas">
        
        <div class="icon-box">
            <a href="material.html#">
            <img src="./images/matr.png"/>
            <p>Material</p>
        </a>
        </div>
        
        
        <div class="icon-box">
            <a href="quizes.html#">
            <img src="./images/exam.png"/>
            <p>Quizzes</p>
        </a>
        </div>
        
    </div>
</div>
<hr/>
<div class="area">
    <h1>ETHICS</h1>
     
    <div class="cosas">
        
        <div class="icon-box">
            <a href="material.html#">
            <img src="./images/matr.png"/>
            <p>Material</p>
        </a>
        </div>
        
        
        <div class="icon-box">
            <a href="quizes.html#">
            <img src="./images/exam.png"/>
            <p>Quizzes</p>
        </a>
        </div>
        
    </div>
</div>

<%- include("partials/footer"); -%>