<%- include("partials/header"); -%>


    <title>EduBridge</title>
    </head>

    <body>

        <%- include("partials/navbar"); -%>

            <div class="container text-center">
                <div class="row">
                    <div class="col">
                    </div>
                    <div class="col-6">
                        <h1 class="tituindex">EduBridge</h1>
                        <div class="prin">
                            <div class="icon-box">
                                <img src="./images/areass.png" class="icon">
                                <a href="/areas">AREAS </a>
                            </div>
                            <div class="icon-box">
                                <img src="./images/teachers.png" class="icon">
                                <a href="/teachers">TEACHERS </a>
                            </div>
                            <div class="icon-box">
                                <img src="./images/forumss.png" class="icon">
                                <a href="/foros">FORUMS </a>
                            </div>
                            <div class="icon-box">
                                <img src="./images/matr.png" class="icon">
                                <a href="/material">MATERIAL </a>
                            </div>
                            <div class="icon-box">
                                <img src="./images/exam.png" class="icon">
                                <a href="/quizes">QUIZZES </a>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>

            <%- include("partials/footer"); -%>