body{
    background: rgb(232,255,206);
    background: linear-gradient(90deg, rgba(232,255,206,1) 0%, rgba(172,250,223,1) 50%, rgba(148,173,215,1) 100%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.tituindex{
    color:#171335;
    size: 40px;
    margin-top: 10%;
}
h1{
    color: #0c0a1c !important;
}
.active{
    font-weight: 700!important;
}
.menu{
    background-color: #171335 !important;
    color: #e8ffce !important	;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: left !important;
    

}
.menu:hover{
    color: #171335 !important;
    background-color: #e8ffce !important;
}
.side{
    background-color: #3351e6;
}
.my-fixed-item {
    width: 100%!important;
    position: fixed;
}
.msgs{
    background-color: rgba(0, 0, 50, 0.1);
}
/*ul li{
    display:inline-block;
    padding: 0px 20px;
}-->*/

.items{
    color:#e8ffce;
    text-decoration: none;

}
.items:hover{
    color: #554c9b;
    text-decoration: underline;
}
.prin{
    display: inline;
    background-image: url(./images/file.png);
    margin-top: 10%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.prin ul li{
    padding: 50px;
}

.icon-box {
    width: 150px;
    margin: 15px;
    padding: 15px;
    background-color: rgba(0, 0, 50, 0.1);
    border-radius: 10px;
    text-align: center;
}

.icon-box img {
    width: 64px;
    height: 64px;
    margin-bottom: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.icon-box a {
    margin: 0;
    font-size: 1em;
    color: #3351e6;
    display: block;
    text-decoration: none;
    font-weight: bold;
}
.area{
    width: 100%;
    text-align: center;
    
}
.sep{
    border-color: #171335;
}
.cosas{
    text-align: center;
    display: inline-flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
h2{
    color: #0c0a1c !important;
}
.card-img-top{
    width: 120px!important;
    padding-top: 10px;
    margin:auto;
    height: 120px !important;
}
.card{
    background-color: #3351e6bb!important;
    color: #0c0a1c !important;
    width: 30%;
}